<html>

<head>
    <link href="{% url 'base_css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="topbar">
        <div class="row">
            <div class="column"><div class="logo"><a href="{% url 'index' %}">TEAMSPACE</a></div></div>
        </div>
    </div>

    <p>We've emailed instructions for setting your password if your email exists.</p>
    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</body>

</html>