<html>

<head>
    <link href="{% url 'base_css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login-page">
        <div class="login-form">
            <div class="login-container">
                <form action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="login-row logo">TEAMSPACE</div>

                    {% if error %}<div class="login-row error"><div class="error-container">{{ error }}</div></div>{% endif %}

                    <div class="login-row"><input type="text" name="email" placeholder="email" id="email" value=""></div>

                    <div class="login-row"><input class="submit" type="submit" value="Send Password Reset Link"></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>