<html>

<head>
    <link href="{% url 'base_css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login-page">
        <div class="login-form">
            <div class="login-container">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">

                    <div class="login-row logo">TEAMSPACE</div>

                    <div class="login-row"><input type="password" name="new_password1" placeholder="password" id="id_new_password1" value=""></div>
                    <div class="login-row"><input type="password" name="new_password2" placeholder="confirm password" id="id_new_password2" value=""></div>

                    <div class="login-row"><input class="submit" type="submit" value="Update Password"></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>